<!-- Boxes de informações pessoais e endereço -->
<div class="container">
    <h4 id="username">Hello, <%= profile.full_name %></h4>
    <p>This is your profile. You can check your <a href="#" class="profile-link">Recent Purchases</a> and <a href="#" class="profile-link">Shipping Addresses</a> and also edit your <a href="#" class="profile-link">Password</a> and <a href="#" class="profile-link">Account Settings</a>.</p>
    <div class="row">
        <!-- Box de informações pessoais -->
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">PROFILE DETAILS</div>
                <div class="card-body" id="profile-details">
                    <div class="d-flex align-items-center">
                        <img src="assets/profile_pic.png" alt="Profile Image" class="profile-image">
                        <div>
                            <p class="profile-header"><%= profile.full_name %></p>
                            <p class="profile-info"><%= profile.state %>, <%= profile.country %></p>
                        </div>
                    </div>
                    <p class="profile-info">Email: <%= profile.email %></p>
                    <p class="profile-info">Security Email: <%= profile.security_email %></p>
                    <p class="profile-info">Phone Number: <%= profile.phone %></p>
                    <a class="btn btn-custom" href="/profile_config">EDIT ACCOUNT</a>
                </div>
            </div>
        </div>

        <!-- Box de endereço -->
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">SHIPPING ADDRESS</div>
                <div class="card-body" id="shipping-address">
                    <p class="profile-header"><%= profile.address_first_name %> <%= profile.address_last_name %></p>
                    <p class="address-info"><%= profile.address_address %></p>
                    <p class="address-info"><%= profile.address_city %> - <%= profile.address_state %>, <%= profile.address_country %></p>
                    <p class="address-info">Phone Number: <%= profile.address_phone %></p>
                    <p class="address-info">Email: <%= profile.address_email %></p>
                    <a class="btn btn-custom" href="/profile_config">EDIT ADDRESS</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Box de compras recentes -->
<div class="container mt-4">
    <h5>RECENT PURCHASES</h5>
    <div class="card">
        <table class="table">
            <thead>
                <tr>
                    <th>ORDER ID</th>
                    <th>STATUS</th>
                    <th>DATE</th>
                    <th>TOTAL</th>
                </tr>
            </thead>
            <tbody id="purchases-table-body">
                <!-- Compras recentes serao geradas dinamicamente -->
            </tbody>
        </table>
    </div>
</div>

<script>
    // Gerar compras recentes dinamicamente
    document.addEventListener('DOMContentLoaded', function () {
        fetch('/recent-purchases')
            .then(response => response.json())
            .then(purchases => {
                console.log(purchases)
                const purchasesTableBody = document.getElementById('purchases-table-body');
                
                //iterar para cada compra recente obtida
                purchases.forEach(purchase => {
                    const row = document.createElement('tr');

                    const orderId = document.createElement('td');
                    orderId.innerHTML = `<a href="#" class="profile-link">#${purchase.id}</a>`;
                    row.appendChild(orderId);

                    const status = document.createElement('td');
                    var statusString = purchase.status.toLowerCase()
                    statusString = statusString.trim().replace(/\s+/g, "")
                    status.className = `status-${statusString}`;
                    status.textContent = purchase.status;
                    row.appendChild(status);

                    const date = document.createElement('td');
                    date.textContent = new Date(purchase.order_date).toLocaleDateString('pt-BR', { day: 'numeric', month: 'short', year: 'numeric', hour: '2-digit', minute: '2-digit' });
                    row.appendChild(date);

                    const total = document.createElement('td');
                    total.textContent = `$${purchase.order_total} (${purchase.number_items} Products)`;
                    row.appendChild(total);

                    purchasesTableBody.appendChild(row);
                });
            })
            .catch(error => {
                console.error('Error fetching recent purchases:', error);
            });
    });
</script>